<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Salesforce Login Suite">
    <parameter name="validUsername" value=""/>
    <parameter name="validPassword" value=""/>
    <parameter name="invalidUsername" value="invalid@example.com"/>
    <parameter name="invalidPassword" value="wrongpass"/>
    <test name="LoginTests">
        <classes>
            <class name="com.salesforce.tests.LoginValidTest"/>
            <class name="com.salesforce.tests.LoginInvalidTest"/>
        </classes>
    </test>
</suite>
